.create-acc-form {
  padding: 1rem;
  border: 0.2rem solid #ececec;
  border-radius: 8px 8px 8px 8px;
  margin: 15px 0;
  background-color: #ffffffb6;
}

.admin-table {
  background-color: #fdfdfd;
}

.table-ad-title,
.table-ad-body,
.table-ad-contact,
.table-news-title,
.table-news-body,
.table-news-date {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 400px;
}
.table-news-date,
.table-ad-contact {
  width: 170px;
}

.table-ad-contact {
  max-width: 150px;
}

.file-upload-form {
  .choice-file-input {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
  }
}
