.adverts-container {

  text-align: center;

  .card {
    margin-bottom: 1rem;
    height: 450px;
    &:hover,
    &:active,
    &:focus {
      border-radius: 3px;
      box-shadow: 0 5px 11px rgba(0, 0, 0, 0.2);
    }
  }
  
  .card-body {
    height: 300px;
    overflow: hidden;
  }
  .advert-date {
    max-width: 150px;
  }
}

