.navbar {
  background-color: #89c40b;
  position: sticky;
  top: 0;
  z-index: 10;
  justify-content: space-between;
  align-content: center;

  .user-info-block {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    width: calc(100% - 60px);
    justify-content: flex-end;

    .user-photo {
      .ava {
        border-radius: 50%;
      }
    }

    .user-info {
      display: flex;
      flex-wrap: nowrap;
      flex-direction: column;
      margin: 0 5px;
      .user-fullname {
        line-height: 90%;
      }

      .user-place {
        vertical-align: text-top;
        font-weight: 300;
        line-height: 80%;
      }

    }
  }

  .collapsed-navbar {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
  }

  .navbar-brand {
    margin-left: calc(100vw - 98vw);
    margin-right: 3vw;
  }

  .navbar-nav {
    display: flex;
    width: 100%;
    a {
      margin-left: calc(100vw - 97vw);
    }
  }
  .navbar-toggler {
    &:focus {
      outline: 0;
      background-color: #7caa17;
    }
  }

  a,
  .navbar-link,
  .nav-link {
    font-size: 1.4em;
    color: #fff;
    text-decoration: none;
    transition: linear 0.2s;

    &:hover {
      color: #ffe69d;
      text-decoration: none;
    }
  }

  .active {
    color: #ffdb70;
  }
}
