.home_container {
    .google-map {
        width: 100%;
        border: 0;
        height: 350px;
        border-radius: 3px;
        box-shadow: 0 5px 11px rgba(0, 0, 0, 0.2);
      }
      h1,
      h2 {
        margin-bottom: 20px;
      }
      p {
        font-size: 1.1rem;
        color: #000;
        margin: 0;
        background-color: rgba(255, 255, 255, 0.575);
      }
    .news-card {
      margin-bottom: 1rem;
    }
}
