.form {
  width: 350px;
  margin: 30px auto;
}

.form-control {
  position: relative;
  height: auto;
  padding: 10px;
  transition: border-color 0.15s ease-in-out,
    box-shadow 0.15s cubic-bezier(0, 0.43, 1, 0.63);
}

input[name='login'] {
  margin-bottom: 5px;
}

input[name='password'] {
  margin-bottom: 15px;
}
