.news-container {
  .news-card {
    padding: 15px;

    .news-body {
      text-indent: 2rem;
      background-color: #ffffffc0;
    }

    .news-date {
      padding: 5px;
      background-color: #c4c4c494;
    }
  }
}
