.side-bar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  .side-bar {
    margin-top: 15px;
    h5 {
      width: 100%;
      margin: 0px;
      padding: 5px;
      text-align: center;
      color: #fff;
      background-color: #163c5c;
    }

    .news-headlines-container {
      border: 1px solid #bdbdbd;
      background-color: #fff;

      .news-headlines-block {
        padding: 5px;
        padding-top: 0;

        .news-date {
          width: 100%;
          text-align: center;
        }

        button {
          width: 100%;
          border: 0;
          background-color: #163c5c;
        }

        hr {
          margin-top: 0;
          margin-bottom: 5px;
        }
      }

      .news-headlines {
        width: 100%;
        text-align: center;
        font-size: 1.2rem;
        font-weight: 400;
        margin-bottom: 0px;
        color: #636363;
      }

      .news-card {
        margin: 3px 0px;
      }
    }

    .covid-stat-block {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 15px;
      border: 1px solid #bdbdbd;
      background-color: #fff;

      span {
        font-size: 1.3rem;
      }

      h6 {
        font-size: 1rem;
        font-weight: 400;
        margin-bottom: 0px;
        color: #636363;
      }
      .info-window {
        padding: 5px;
        border: 1px solid #163c5c;
        border-radius: 10px;
      }
    }
  }
}

@media (max-width: 1200px) {
  .side-bar-container {
    height: 100%;
  }
}
