.user-menu-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh; 
  .user-menu {
    .btn {
      background-color: #163c5c;
      border: 0;
      &:hover {
        background-color: #265377;
      }
    }
  }
}
