.user-menu-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  .user-menu {
    margin-top: 15px;

    .btn {
      background-color: #ffc107;
      border: 0;
      &:hover {
        background-color: #e0a800;
      }
    }
  }
}
