.about-block {
  font-size: $fs-sm;
  .about {
    padding: $base * 4;
    transition: $transition;
    border-radius: $base;
    background-color: #fcfcfccb;
    -webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
    &:hover,
    &:active,
    &:focus {
      border-radius: $base;
      -webkit-box-shadow: 2px 5px 20px 2px rgba(34, 60, 80, 0.3);
      -moz-box-shadow: 2px 5px 20px 2px rgba(34, 60, 80, 0.3);
      box-shadow: 2px 5px 20px 2px rgba(34, 60, 80, 0.3);
    }
    p {
      margin-bottom: $base * 4;
    }
    ul {
      margin-left: $base * 4;
    }
  }
}

@media (max-width: 992px) {
  .about-block {
    margin-bottom: $base*3;
  }
}
