.map-block {
  h3 {
    margin: 0;
    margin-bottom: $base * 2;
  }
  .yandex-map {
    height: $base * 175;
    transition: $transition;
    border-radius: $base;
    background-color: #fcfcfccb;
    -webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
  }
  @media (max-width: $base*188) {
    .yandex-map {
      height: $base * 125;
    }
  }
}
