$base: 4px;

$transition: 0.2s;

$fw-regular: 400;
$fw-medium: 500;
$fw-bold: 700;

$fs-xs: $base * 3;
$fs-sm: $base * 4;
$fs-md: $base * 5;
$fs-lg: $base * 6;
$fs-xl: $base * 7;

$theme-color: #89c40b;
$secondary-color: #e2ac02;
